@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* primary color: #fed2cb;
secondary color:#273246; */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Prompt', sans-serif;
}
.navmenu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #273246;
    color: #fed2cb;
    padding: 15px;
}
.logo{
    font-size: 35px;
}
.menu{
    display: flex;
}
#special{
    color: #fed2cb;
}
.menu li{
    margin-left: 20px;
    cursor: pointer;
    color: white;
}
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('image/bg.png');
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner img{
    height: 700px; 
}
.banner-title h1{
    color: #273246;
    font-size: 45px;
    line-height: 50px;
}
.banner-title p{
    margin-top: 25px;
    margin-bottom: 35px;
}
.banner-title button{
    background-color: #fed2cb;
    padding: 5px 10px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #273246;
}
.small-banner{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    background-image: url('image/Design.png');
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.small-banner img{
    height: 700px; 
}
.program-list{
    background-color: #fed2cb;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #273246;
    border: 2px #273246;
    height: 35vh;
}
.list img{
    height: 100px;
    width: 170px;
}
.small-banner2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    background-image: url('image/Design2.png');
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.small-banner2 img{
    height: 700px; 
}
.offer-banner{
    background-image: url('image/6.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.offer-title{
    padding-left: 57%;
    padding-top: 15%;
}
.offer-title h1{
    color: #273246;
    font-size: 45px;
    line-height: 50px;
}
.offer-title p{
    margin-top: 25px;
    margin-bottom: 35px;
}
.offer-title button{
    background-color: #fed2cb;
    padding: 5px 10px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #273246;
}
.gallery{
    background-image: url('image/Design3.png');
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.gallery-title{
    text-align: center;
    padding-top: 5%;
}
.gallery-title h1{
    font-size: 45px;
    padding-bottom: 10px;
    color: #273246;
}
.gallery-title p{
    padding-bottom: 20px;
}
.gallery-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 25px;
   
}

.gallery-box1{
    background-color: white;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}
.gallery-box1 img{
    height: 330px;
    width: 300px;
}
.gallery-box1 h3{
    padding: 10px;
}
.gallery-box1 p{
    padding: 10px;
}